
      /* header-bar */
* {margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Inter', 'Segoe UI', sans-serif; 
          }
 .banner-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 60px;
  background: #ffffff;
             }   
   .kv-logo img{
   height: 36px;        
   width: auto;        
   display: block;
        }
   .center-menu a{
   margin: 0 7px; 
   text-decoration: none;
   color: #000;
   font-weight: Medium; 
   line-height: 152%;
    font-size: 16px;
         }
 .center-menu a:hover { 
  color: #15803d;
          } 
 .up-side-greenbtn {
  background: #30b830;
  color: #ffffff;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
       }   
 .up-side-greenbtn:hover {
  background: #469165;
 }

        /* banner section */

#banner{ position: relative;
         min-height:70vh;
         background: url("image/banner.jpg") CENTER / cover no-repeat;
         display:flex;
         align-items: center;
         padding: 0 80px;
         color: #ffffff; 
         text-transform: capitalize;
         justify-content: center;
          }
.overlay { position: absolute;
           inset: 0;
           background: linear-gradient(to right,rgba(8, 23, 38, 0.9),rgba(8, 23, 38, 0.6));
               }
    .banner-content { position: relative;
                       max-width: 1600px;
                       z-index: 1;
                     text-align: center;
                  }
 .badge { display: inline-flex;
          align-items: center;
          gap: 8px;
          background: #ffffff;
          color: #30B868;
          padding: 6px 14px;
          border-radius: 1000px;
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 24px;
            }

 .green-dot{ width: 9px;
             height: 9px;
             background: #30B868;
             border-radius: 80%;
}
 #banner h1 { font-size: 56px;
              line-height: 1.15;
              margin-bottom: 20px;
              font-weight: 700;
       }
.gree-light { color: #30b830; 
               }  

#banner p{ font-size: 17px;
                    font-size: 17px;
                    line-height: 1.7;
                    color: #ffffff;
                    margin-bottom: 36px;
                }
.buttons {display: flex; 
          gap: 16px;
          margin-right: 0%;
              }
 .buttons { display: inline-flex;
            align-items: center;
            gap: 10px;
            padding: 14px 22px;
            border-radius: 8px;
            text-decoration: none;
            font-size: 15px;
           font-weight: 600;
           cursor: pointer;  
                   }
.left-btn { background: #469165; 
            color: #ffffff;
            border:1px solid #469165;
            padding: 10px 18px;
             border-radius: 4px;
              text-decoration: none;
               }
.left-btn:hover { background: #15803d;
                      }
.right-btn {  background: transparent;
              border: 1px solid #ffffff;
              color: #ffffff;
               padding: 10px 18px;
                border-radius: 4px;
                text-decoration: none;
                              }     
.right-btn:hover { background: #469165;  
                   }
                 /* problem section */

#problems{ padding: 100px 80px;
           text-align: center;
           background: #ffffff;
          }
#problems h2 {font-size: 48px;
              font-weight: 700;
              color: #001931;
              margin-bottom: 12px;
              /* font-style: Bold; */
              line-height: 58px;
                   }
.title{color: #627382;
              margin: 0 auto 60px;
              font-size: 16px;
              font-style: Regular;
              max-width: 700px;
              font-weight: 400;
              line-height: 20PX;
              letter-spacing: 0%;
              text-align: center;
 }
.frames {display: grid;
         grid-template-columns: repeat(4, 1fr);
         gap: 16px;
}
.frame { background: rgba(255, 255, 255, 1); 
         padding: 40px 30px; 
         border-radius: 8px; 
         box-shadow:  0px 0px 8px 0px rgba(0, 0, 0, 0.06);
         transition: transform 0.3s ease, box-shadow 0.3s ease;
         gap: 16px;  
}
.frame:hover { transform: translateY(-6px);
               box-shadow:0px 0px 8px 0px rgba(0, 0, 0, 0.06);
               box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
               background: rgba(255, 255, 255, 1);
}
.icon { width: 56px;
        height: 56px;
        background: #F95555;
         border-radius: 100%;
         display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px;
}
.icon img { width: 27.1px;
            height: 29px;
            top: 1.5px;
            left: 2.49px;
}
 .frame h3 {  font-size: 20px;
              color: #001931;
              margin-bottom: 10px;
}
.frame p { font-size: 15px;
          color: #627382;
          line-height:1.6;
}

         /* -- middle Leftside & rightside content  */

.second-solution {padding:72px 20px 
}
.SOLUTION {
  max-width: 1600px;
  margin: auto;
  display: grid;
   grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 70px;
}
.left-image img {
  width: 100%;
  max-width: 520px;
}
.label {
  font-size: 14px;
  font-weight: 600;
  color:#469165;
  letter-spacing: 0px;
  display: flex;
  margin-bottom: 12px;
  align-items: flex-start;
}
.right-content h2 { font-size: 48px; 
                    line-height: 100%;
                    display: flex;
                     margin-bottom: 12px;
                      align-items: center;
                      text-align: left;
                    }                  
.right-content p {  text-align: left;
                   color: #627382;
                    font-family: Inter;
                    font-style: Regular;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0%;
                    margin-bottom: 40px;
                  }
 .right-content ul { list-style: none;
                    color: #001931;
                    font-size:16px;
                    line-height: 20px;
                    font-weight: 500;
                  }
 .right-content li { display: flex;
                    gap: 6px;
                    margin-bottom: 14px;
                    align-items: flex-start;
                          }
 .right-content li img { width: 18px;
                        height: 18px;
                        margin-top: 4px;
               }
 .right-content li span {font-size: 16px;
                        line-height: 1.6;
                        display: flex;
                      }
       
.lower-section{
  padding: 120px 40px;
            }
.lower-box {max-width: 1200px;
            margin: 0 auto;
            background-color: #F7F6F2;
            border-radius: 16px;
            gap:12px;
            text-align: center;
            padding: 60px 25px ;
}
.cta-title {font-size: 40px;
            font-weight: 700;
            color:#001931;
            margin-bottom: 18px;
              line-height: 100%;                     
 } 
 .cta-subtitle {font-size: 16px;
                line-height: 2;
                color:#627382;
                margin-bottom: 32px;
                font-weight: 400;
}
.cta-button {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    background-color: #30B868;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
 }
.cta-button:hover {
    background-color: #469165;
    transform: translateY(-3px) ;
               }
.cta-note {
    margin-top: 22px;
    font-size: 14px;
    color: #7b8b9c;
}

                    /*<<<<<<<>>footer >>>>>>>>>> */
.footer {
  background: linear-gradient(135deg, #020617, #021b34);
  padding: 60px 90px 30px;
  color: white;
  font-family: Arial, sans-serif;
}


.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.footer-logo img {
  height: 45px;
  width: auto;
}
.footer-social h4 {
  margin-bottom: 12px;
  font-size: 16px;
}

.social-icons {
  display: flex;
  gap: 12px;
}

.social-icons a {
  width: 34px;
  height: 34px;
  background: white;
  color: #000000;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  transition: 0.3s;
}

.social-icons a:hover { background: #52dd7098;
                         color: white;
}


.footer-line { margin: 40px 0 20px;
              height: 1px;
              background: rgba(255, 255, 255, 0.13);
}

/* Copyright */
.footer-copy {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

















